<head>
    <h4>Form Application</h4>
</head>

<div class="form form-component"  data-sly-use.result="com.demo.core.content.FetchingDataFromForm" data-path="${resource.path}">
<form id="form" action="javascript:void(0);" onsubmit="javascript:void(0);">
    First name:<br>
    <input type="text"  name="firstname" id="lastname">
    <br><br>
    DOB:<br>
    <input type="date"  name="dob" id="dob">
    <br><br>
    Age:<br>
    <input type="number"  name="age" id="age">
    <br><br>
    Address:<br>
    <textarea id="address" name="address"></textarea>
    <br><br>
    <input type="submit" value="Submit" id="submit">


</form>
    <div >
        <table border ='1'>
            <thead>
            <th>Name</th>
            <th>DOB</th>
            <th>Age</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>

            </thead>

            <tbody>
            <sly data-sly-list.data="${result.arrayList}">
                <tr>
                    <td>${data.firstname}</td>
                    <td>${data.dob}</td>
                    <td>${data.age}</td>
                    <td>${data.address}</td>
                   <!--/* <td><button class='edit' data-node-path='"+${data.path}+"'>Edit</button></td>
                    <td><button class='delete' data-node-path='"+${data.path}+"'>Delete</button></td>*/-->

                </tr>
            </sly>

        </tbody>
        </table>

    </div>



    <div id="formdata">
        <table border ='1'>
            <thead>
            <th>Name</th>
            <th>DOB</th>
            <th>Age</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>

            </thead>

            <tbody>
            <sly data-sly-list.data="${result.arrayList}">
                <tr>
                    <td>${data.firstname}</td>
                    <td>${data.dob}</td>
                    <td>${data.age}</td>
                    <td>${data.address}</td>
                    <td><button class="edit" data-node-path="${data.path}">Edit</button></td>
                    <td><button class="delete" data-node-path="${data.path}">Edit</button></td>

                </tr>
            </sly>

            </tbody>
        </table>

    </div>
</div>


