
<div class="form form-resource"    data-path="${resource.path}">

<h2>AEM Form</h2>

<form action="javascript:void(0);" id="form" onsubmit="javascript:void(0);">
    <fieldset style="text-align:center">
        <legend>Personal Details</legend>
    First name:
    <input type="text" name="firstname" value="" id="first_name">
    <br><br>
    Last name:
    <input type="text" name="lastname" value="" id="last_name">
    <br><br>
    Age:
    <input type="number" name="age" value="" min="1" max="120" id="age">
    <br><br><br>
    <input type="submit" value="Submit" id="submit">
    </fieldset>
</form>

    <div >
        <table border="1" id="table">
            <thead>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Age</td>
            </thead>

            <tbody>

            </tbody>

        </table>

    </div>

</div>


