
<div class="col-lg-4" data-sly-use.result="com.demo.core.content.Card">
    <div class="card">
        <img class="card-img-top" src="${result.image}"/>
        <div class="card-body">
            <h4 class="card-titl">${result.title}</h4>
            <p class="card-text">${result.description}</p>
            <a target="${properties.target}" class="btn btn-primary" href="${result.link}"
               data-sly-test="${properties.cta=='true'}">${properties.button}</a>
        </div>
    </div>
</div>
